@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
	color:white;
	background: black;
	text-transform: uppercase;
	font-family: Lato, Arial, Helvetica, sans-serif;
}
.desktopBG
{
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 1080px;
	background: black;
	background-image:url(../img/heather-emond-313088-unsplash.jpg);
	background-size: cover;
	background-position: center center;
	/*animation-name:desktopFadeIn;
	animation-duration:1s;*/
}
.desktopBGBlur
{
	background-image:url(../img/heather-emond-313088-unsplash-blur.jpg);
}
.desktopTopBar
{
	width: 1910;
	height: 23px;
	padding: 0 5px;
	background: black;
	background: rgba(0, 0, 0, 0.35);
	color: white;
	color: rgba(255, 255, 255, 0.9);
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.desktopTopBarPrelive
{
	background: rgba(0, 0, 0, 0);
}
.topBarRight 
{
	display: flex;
	align-items: center;
}
.topBarLeft 
{
	display: flex;
	align-items: center;
}
.topBarText
{
	
}
.topBarInactive
{
	display: none;
}
.topBarTwitter
{
	height: 23px;
	width: 12px;
	margin: 0 7px;
	background-image:url(../img/twitter-logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.topBarTwitch
{
	height: 23px;
	width: 12px;
	margin: 0 7px;
	background-image:url(../img/twitch-logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.topBarMixer
{
	height: 23px;
	width: 12px;
	margin: 0 7px;
	background-image:url(../img/mixer-logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.topBarWifi
{
	height: 23px;
	width: 15px;
	margin-left: 7px;
	background-image:url(../img/icons8-wi-fi.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.topBarAlert
{
	display: inline-block;
	height: 23px;
	width: 11px;
	margin: 0 7px;
	background-image:url(../img/icons8-bell.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.clockTicker
{
	animation-name:clockTickAnimation;
	animation-duration:1s;
	animation-iteration-count: infinite;
}
.topBarPipe
{
	margin: 0 7px;
}

.desktopNowPlayingVideo
{
	position: absolute;
	height: 720px;
	width: 1280px;
	right:50px;
	bottom:100px;
	z-index: 1000;
	border-radius: 5px;
	overflow: hidden;
	background: black;
}
.desktopNowPlaying
{
	position: absolute;
	height: 720px;
	width: 1280px;
	right:50px;
	bottom:100px;
	z-index: 1000;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.75);
	/* background: black;
	background-image:url(../img/division-screenshot.jpg); */
	background-size: cover;
	background-position: center center;
}
.windowTop
{	
	text-align: center;
	font-size: 12px;
	font-style: italic;
	font-weight: bolder;
	height: 16px;
	line-height: 16px;
	width: 100%;
	background: #363636;
	/*background: rgba(0, 0, 0, 0.35);*/
}
.windowTopInactive
{
	background: rgba(54, 54, 54, 0.75);
}
.nowPlayingContent
{
	height: 708px;
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.nowPlayingGameName
{
	color:rgba(255, 255, 255, 0.9);
	background: black;
	background: rgba(0, 0, 0, 0.5);
	font-size: 48px;
	font-style: italic;
	font-weight: lighter;
	padding: 25px 50px;
	border-radius: 5px;
}
.nowPlayingPlayer
{
	object-fit: cover;
}
.desktopTextEditor
{
	position: absolute;
	height: 400px;
	width: 600px;
	left:50px;
	top:75px;
	z-index: 100;
	border-radius: 5px;
	overflow: hidden;
	background: white;
}
.windowInactive
{
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
}
.streamUpdateContainer
{
	height: 384px;
	width: 580px;
	padding: 5px 10px;
}
.streamUpdateText
{
	color: black;
	font-size: 72px;
	font-weight: bold;
	padding-right:5px;
	border-right: 2px solid black;
	animation-name:streamUpdateCursor;
	animation-duration:1s;
	animation-iteration-count: infinite;
}

.loginBounds
{
	width: 1920px;
	height: 1057px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.loginBox
{
	height: auto;
}
.loginUserGroup
{
	width: 100%;
	display: flex;
	justify-content: center;
}
.loginUser
{
	margin: 0 50px;
}
.loginNotLogged
{
	opacity: 0.25;
}
.loginPicture
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: white;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
	margin-bottom: 25px;
}
.loginUsername
{
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 25px;
}
.loginText
{
	font-size: 24px;
	font-weight: lighter;
	font-style: italic;
}
.loginTick
{
	animation-name:loginTickAnimation;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
.preshowBG
{
	position: absolute;
	height: 1080px;
	width: 1920px;
	top: 0;
	left: 0;
	/*background: linear-gradient(to bottom, #e3e3e3, #a1a1a1);*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	text-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
#myVideo
{
	position: fixed;
	width: 100%;
	height:100%;
}
.preshowText
{
	font-size:48px;

	font-weight: lighter
}

.preshowMainText
{
	font-size:120px;
	font-weight: bold;

	animation-name:preshowTextin;
	animation-duration:1s;
}
.preshowSubText
{
	
}
.offlineContainer
{
	width: 1920px;
	height: 1057px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.offlineWindow
{
	background: #e3e3e3;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.offlineContent
{
	width: auto;
	font-size:18px;
	font-style:italic;
	color:#363636;
	padding: 12px 24px;
}
.offlineBold
{
	font-weight: bold;
	margin-bottom: 12px;
}
.offlineButtonContainer
{
	width: 100%;
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.offlineButton
{
	padding: 5px 10px;
	border-radius: 4px;
	color:white;
	background: rgba(0, 0, 0, 0.25);
	margin-left:10px;
	font-size: 12px;
	font-style: normal;
	font-weight: bolder;
}
.buttonTwitter
{
	background: #1da1f2;
	animation-name:twitterButtonPulse;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
.buttonInstagram
{
	background: #fd1d1d;
	animation-name:instagramButtonPulse;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
.buttonDribbble
{
	background: #ea4c89;
	animation-name:dribbbleButtonPulse;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
.bold
{
	font-weight: bold;
}
.humblePromo
{
	position: absolute;
	height: 308px;
	width: 616px;
	left:15px;
	bottom:320px;
	z-index: 500;
	border-radius: 5px;
	overflow: hidden;
	background: white;
	background-image:url(../img/humble-promo-monthly-april-2018.png);
	background-size: cover;
	background-position: center center;
}
.pretzelPromo
{
	position: absolute;
	height: 320px;
	width: 320px;
	left:100px;
	bottom:15px;
	z-index: 500;
	border-radius: 5px;
	overflow: hidden;
	background: white;
	background-image:url(../img/pretzel-promo.png);
	background-size: cover;
	background-position: center center;
}
.onscreenBG
{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background: black;
	background-image:url(../img/heather-emond-313088-unsplash.jpg);
	background-size: cover;
	background-position: center center;
}
.onscreenAnnouncement
{
	text-align: right;
}
.onscreenText
{
	font-size: 18px;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	background: white;
	border-right: 7px solid #6441A4;
	color: black;
	margin: 10px;
	padding: 5px 20px;
	animation-name:onscreenIn;
	animation-duration:1s;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
}
.onscreenPS4
{
	border-right: 7px solid #003087;
}

@keyframes desktopFadeIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}

@keyframes clockTickAnimation
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}

@keyframes loginTickAnimation
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}

@keyframes preshowTextin
{
    from
	{
		text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
		transform: translatey(20px);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}

@keyframes streamUpdateCursor
{
    from
	{
		border-right: 2px solid rgba(0, 0, 0, 0);
	}
	to
	{
		border-right: 2px solid black;
	}
}

@keyframes twitterButtonPulse
{
    0%
	{
		background: #1da1f2;
	}
	50%
	{
		background: #657786;
	}
	100%
	{
		background: #1da1f2;
	}
}
@keyframes instagramButtonPulse
{
    0%
	{
		background: #fd1d1d;
	}
	50%
	{
		background: #405de6;
	}
	100%
	{
		background: #fd1d1d;
	}
}
@keyframes dribbbleButtonPulse
{
    0%
	{
		background: #ea4c89;
	}
	50%
	{
		background: #00b6e3;
	}
	100%
	{
		background: #ea4c89;
	}
}

@keyframes onscreenIn
{
    from
	{
		transform: translateX(10px);
	}
	to
	{
		
	}
}